#special-card{
    background-color: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-card{
    background-color: #000000a8;
}

nav .nav-link {
    color: #2e2e2e;
    font-weight:500; 
    font-size: 1em !important;
    border-bottom: 1px solid #a79045;
    list-style-type: none;
}

nav .nav-link:hover {
    background-color: #ffffff3f;
    color: #444242;
}

.card-title {
    height: 50px
}

.card-text {
    display: block;
    overflow: hidden; /* taşanları gizle */
    text-overflow: ellipsis;
    height: 80px;
}