<div class="page-header">
    <div class="page-header-image" style="background-image:url(../assets/img/header.jpg)"></div>
    <div class="content">
        <div class="container">
            <div class="col-md-4 ml-auto mr-auto bg-warning">
                <div class="card card-login card-plain">
                    <!-- Form Start -->
                    <form #loginForm="ngForm" (ngSubmit)="_auth.login(loginForm)" class="form" method="" action="">
                        <div class="card-body mt-4">
                            <div class="input-group no-border input-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-envelope"></i>
                                    </span>
                                </div>
                                <input
                                  [appValid]="email.validity.valid"
                                  ngModel
                                  name="email"
                                  class="form-control"
                                  required
                                  minlength="3"
                                  #email
                                  placeholder="Email or Username">
                            </div>
                            <div class="input-group no-border input-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa-solid fa-unlock"></i>
                                    </span>
                                </div>
                                <input
                                  [appValid]="password.validity.valid"
                                  ngModel
                                  type="password"
                                  name="password"
                                  #password
                                  required
                                  minlength="3"
                                  placeholder="Password"
                                  class="form-control">
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" [disabled]="!loginForm.valid"
                                class="btn btn-success btn-round btn-lg btn-block mb-4">
                                Sign In
                            </button>
                            <h6>
                                <a routerLink="/register" class="link text-dark">Create Account</a>
                            </h6>
                        </div>
                    </form>
                    <!-- Form End -->
                </div>
            </div>
        </div>
    </div>